@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --color-blue: #005AD2;
  --color-dark-blue: #001962;
  --color-background-blue: #DFE6F0;
  --color-text: #434A5E; 
  --color-background-gray: #EFF0F2;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--color-background-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-height: 100dvh;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #787878;
}
::-webkit-scrollbar-thumb:active {
  background: #454545;
}
::-webkit-scrollbar-track {
  background: #e0e0e0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #e0e0e0;
}
::-webkit-scrollbar-track:active {
  background: #e0e0e0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}